/* Reset básico para evitar margenes inesperados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.wrapp {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    background-color: #102a4b;
    color: white;
}

.headLeft h1 {
    font-size: 28px;
    font-weight: bold;
}

.headRight ul {
    list-style: none;
    display: flex;
    gap: 55px;
}

.headRight ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
    font-weight: bold;

}

.headRight ul li a:hover {
    color: #00b7ff;
}

.headRight ul li:last-child a {
    background-color: orange;  
    color: white;             
    padding: 8px 16px;       
    border-radius: 5px;        
    transition: 0.3s;
    font-weight: bold;

}

.headRight ul li:last-child a:hover {
    background-color: darkorange; 
}

.imageContainer{
    display: flex;
    width: 100%;
    height: 700px;
    position: relative;
    background-image: url(../Images/imageHome.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imageContent{
    position: absolute;
    top: 50%;
    left: 25%;
    text-align: center;
    color: white;
    transform: translate(-50%,-50%);
}

.imageContent h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #102a4b;
}

.imageContent p{
    font-size: 22px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.imageContent .btn {
    background-color: orange;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.imageContent .btn:hover {
    background-color: darkorange;
    transform: translateY(-2px); 
}
.tituloNuestrsCursos{
    display: flex;
    width: 100%;
    color: #102a4b;
    background-color: white;
    padding: 40px;
    font-weight: bold;

}

.nuestrosCursos{
    display: flex;
    width: 100%;
    gap: 55px;
    justify-content: center;
}

.card{
    display: flex;
    width: 350px;
    text-align: center;
    background-color: white;
    padding: 40px;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10%;
}

.card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.card .btn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.card .btn:hover {
    background-color: darkorange;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.tituloSobreNosotros{
    display: flex;
    width: 100%;
    color: #102a4b;
    background-color: white;
    padding: 40px;
    font-weight: bold;
    margin-top: 70px;
}

.sobreNosotros {
    display: flex;
    width: 100%;
    gap: 40px;
    padding: 60px 5%;
    align-items: center;
    flex-wrap: wrap; 
}

.imageSobreNosotros {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
}

.imageSobreNosotros img {
    width: 100%;
    max-width: 450px;
    border-radius: 20px; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.contentSobreNosotros {
    flex: 1 1 400px; 
}

.contentSobreNosotros p {
    font-size: 18px;
    line-height: 1.6;
    color: #102a4b;
    padding: 20px;
}


.tituloTestimonios{
    display: flex;
    width: 100%;
    color: #102a4b;
    background-color: white;
    padding: 40px;
    font-weight: bold;
    margin-top: 50px;
}

.testimonios {
    display: flex;
    width: 100%;
    gap: 40px;
    padding: 14px 5%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.testimonioCard{
    display: flex;
    width: 350px;
    height: 400px;
    text-align: center;
    background-color: white;
    padding: 40px;
    flex-direction: column;
}

.testimonioCard img {
    width: 240px;     
    height: 180px;     
    border-radius: 50%; 
    object-fit: cover;  
    margin: 0 auto 20px auto; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.testimonioCard h2 {
    margin-top: 10px;
    font-size: 20px;
}

.testimonioCard p {
    font-size: 18px;
    line-height: 1.6;
    color: #102a4b;
    padding: 20px;
}

.tituloContacto{
    display: flex;
    width: 100%;
    color: #102a4b;
    background-color: #102a4b;
    color: white;
    padding: 40px;
    font-weight: bold;
    margin-top: 50px;
}

.contacto {
    display: flex;
    width: 100%;
    background-color: #102a4b;
    color: white;
    align-items: center;
    padding: 40px 5%;
    gap: 20px;
    flex-wrap: wrap;
}

.contactoContent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.contactoMap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contacto p {
    font-size: 18px;
    margin: 5px 0;
}

.contacto form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 500px;
}

.contacto input[type="text"],
.contacto input[type="email"],
.contacto textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contacto .btn {
    background-color: orange;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}

.contacto .btn:hover {
    background-color: darkorange;
    transform: translateY(-2px);
}
.mapa {
    margin-top: 50px;
    width: 100%;
    height: 70%; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.mapa iframe {
   height: 400px;
}

.otrosContactos{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 100px;
    margin-top: 20px;
}